@model CreateCategory

@{
    var action = "SaveNewCategory";
    var mess = "Create";

    if (Model?.Id != 0)
    {
        action = "SaveUpdateCategory";
        mess = "Update";
    }
}

<h1>@mess Category</h1>

<div class="w-50 mx-auto">
    <form asp-action="@action" asp-controller="Category">
        @if (Model?.Id != 0)
        {
            <input asp-for="Id" hidden />
        }
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input type="submit" value="@mess Category" class="btn btn-primary mt-3" />
    </form>
</div>

<partial name="_ValidationScriptsPartial"></partial>
